<div class="app-container flex flex-col">
  <app-header></app-header>
  <main class="main-wrapper flex-1 bg-gray-100 relative">
    <div class="main-container h-full relative">
      <router-outlet></router-outlet>
      <div 
        class="overlay absolute w-full h-full top-0 left-0 bg-black transition-opacity duration-300"
        [class.opacity-50]="cartService.isSideCartOpen()"
        [class.opacity-0]="!cartService.isSideCartOpen()"
        [class.-z-1]="!cartService.isSideCartOpen()"
      ></div>
    </div>
    <div class="main-sidebar">
      <app-sidecart></app-sidecart>
    </div>
  </main>
  <app-footer></app-footer>
</div>