<div 
  class="sidecart-container fixed top-0 w-[400px] h-screen bg-white transition-right duration-300 shadow-lg"
  [class.right-0]="cartService.isSideCartOpen()"
  [class.right-[-400px]]="!cartService.isSideCartOpen()"
>
  <div class="title-actions relative py-4 px-2 border-b border-slate-300">
    <h2 class="text-lg text-center font-bold flex justify-center gap-3">
      <mat-icon aria-hidden="false" aria-label="Cart Icon">shopping_cart</mat-icon>
      <span>My Cart</span>
    </h2>
    <span 
      class="p-1 text-white text-center bg-sky-700 absolute right-[10px] top-1/2 transform -translate-y-1/2 cursor-pointer rounded flex justify-center items-center"
      (click)="closeSideCart()"
    >
      <mat-icon>close</mat-icon>
    </span>
  </div>
  <div 
    class="side-cart-items-container pb-2 px-2 max-h-[600px] overflow-y-auto"
  >
    <div class="side-cart-item text-center p-2 border border-slate-300 rounded mt-4 shadow-md relative box-border" *ngFor="let cartItem of cartItems()">
      <span 
        class="p-1 text-white text-center bg-slate-500 absolute right-[10px] top-[10px] cursor-pointer rounded flex justify-center items-center"
        (click)="removeFromCart(cartItem)"
      >
        <mat-icon>close</mat-icon>
      </span>
      <span class="side-cart-image-wrapper flex justify-center items-center"><img class="side-cart-image max-h-[100px]" [src]="cartItem.image" [alt]="cartItem.name"/></span>
      <span class="side-cart-sku block mt-2">SKU: <span class="font-bold">{{cartItem.sku}}</span></span>
      <span class="side-cart-name block mt-2">{{cartItem.name}}</span>
      <span class="side-cart-qty block mt-2">QTY: <span class="font-bold">{{cartItem.qty}}</span></span>
    </div>
  </div>

  <div class="side-cart-summary px-2 py-4 w-full absolute bottom-0">
    <div class="side-cart-totals border-t border-b border-slate-300">
      <span class="side-cart-subtotal flex justify-between items-center py-1"><span>Subtotal:</span><span class="font-bold text-lg">{{cartTotal().toFixed(2)}} €</span></span>
      <span class="side-cart-vat-total flex justify-between items-center py-1"><span>VAT:</span><span class="font-bold text-lg">{{vatTotal().toFixed(2)}} €</span></span>
      <span class="side-cart-grand-total flex justify-between items-center py-1"><span>Grand Total:</span><span class="font-bold text-xl text-sky-700">{{grandTotal().toFixed(2)}} €</span></span>
    </div>
    <div class="side-cart-actions mt-2">
      <a 
        class="side-cart-action-link flex justify-center items-center px-6 h-[60px] border rounded-md text-white text-lg font-bold bg-linear-65 from-blue-600 to-sky-500 cursor-pointer mt-2" 
        [routerLink]="'checkout'"
        [class.pointer-events-none]="!cartItems().length"
        [class.opacity-50]="!cartItems().length"
      >Checkout</a>
    </div>
  </div>
</div>