<div class="checkout-container h-full p-6 flex" *ngIf="vm$ | async as vm">
  <div class="checkout-wrapper w-3/4 mx-auto">
    <form class="checkout-form flex flex-row gap-4" [formGroup]="checkoutCustomerForm">
      <div class="checkout-item address-info-container flex-1">
        <div class="address-info-wrapper address-info-container p-4 bg-white shadow-sm rounded-md">
          <h2 class="text-xl font-bold py-4 border-b border-sky-800 text-neutral-900 flex justify-start items-center gap-2">
            <mat-icon aria-hidden="false" aria-label="Person Icon">person</mat-icon>
            <span>Address Information</span>
          </h2>
          <div class="checkout-customer-fields py-4">
            <div class="checkout-customer-field flex flex-col">
              <label for="fullname">First Name</label>
              <input class="border border-slate-300 p-2 mt-1" type="text" id="fullname" name="fullname" formControlName="fullname" required/>
            </div>
            <div class="checkout-customer-field flex flex-col mt-3">
              <label for="email">Email</label>
              <input class="border border-slate-300 p-2 mt-1" type="email" id="email" name="email" formControlName="email" required/>
            </div>
            <div class="checkout-customer-field flex flex-col mt-3">
              <label for="phone">Phone Number</label>
              <input class="border border-slate-300 p-2 mt-1" type="text" id="phone" name="phone" formControlName="phone" required/>
            </div>
            <div class="checkout-customer-field flex flex-col mt-3">
              <label for="countryCode">Country Code</label>
              <select class="border border-slate-300 p-3 mt-1" id="countryCode" name="countryCode" formControlName="countryCode" required>
                <option [ngValue]="'GR'">Greece</option>
                <option [ngValue]="'CY'">Cyprus</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-item methods-container flex-1 flex flex-col gap-4">
        <div class="shipping-methods-container p-4 bg-white shadow-sm rounded-md" *ngIf="vm.shippingMethods">
          <h2 class="text-xl font-bold py-4 border-b border-sky-800 text-neutral-800 flex justify-start items-center gap-2">
            <mat-icon aria-hidden="false" aria-label="Shipping Icon">local_shipping</mat-icon>
            <span>Shipping Methods</span>
          </h2>
          <div class="shipping-methods py-4">
            <div class="shipping-method flex items-center" [class.mt-2]="i>0" *ngFor="let shippingMethod of vm.shippingMethods; index as i">
              <input class="relative top-[1px]" type="radio" name="shippingMethod" [id]="shippingMethod.value" [value]="shippingMethod.value" (click)="setShippingMethod(shippingMethod)"/>
              <label class="shipping-method-label ml-3" [for]="shippingMethod.value">{{shippingMethod.label}}</label>
            </div>
          </div>
        </div>
        <div class="payment-methods-container p-4 bg-white shadow-sm rounded-md" *ngIf="vm.paymentMethods">
          <h2 class="text-xl font-bold py-4 border-b border-sky-800 text-neutral-800 flex justify-start items-center gap-2">
            <mat-icon aria-hidden="false" aria-label="Payment Icon">account_balance_wallet</mat-icon>
            <span>Payment Methods</span>
          </h2>
          <div class="payment-methods py-4">
            <div class="payment-method flex items-center" [class.mt-2]="i>0" *ngFor="let paymentMethod of vm.paymentMethods; index as i">
              <input class="relative top-[1px]" type="radio" name="paymentMethod" [id]="paymentMethod.value" [value]="paymentMethod.value" (click)="setPaymentMethod(paymentMethod)"/>
              <label class="payment-method-label ml-3" [for]="paymentMethod.value">{{paymentMethod.label}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-item checkout-summary flex-1">
        <div class="checkout-summary-wrapper p-4 bg-white shadow-sm rounded-md">
          <h2 class="text-xl font-bold py-4 border-b border-sky-800 text-neutral-800 flex justify-start items-center gap-2">
            <mat-icon aria-hidden="false" aria-label="Summary Icon">shopping_cart</mat-icon>
            <span>Order Summary</span>
          </h2>
          <div class="checkout-summary-details flex flex-col justify-between items-stretch">
            <div class="checkout-cart-items py-2 max-h-[400px] overflow-auto">
              <div class="checkout-cart-item flex gap-3" [class.pt-4]="i>0" [class.border-t]="i>0" [class.border-slate-300]="i>0" [class.mt-4]="i>0" *ngFor="let cartItem of cartItems; index as i">
                <div class="checkout-cart-item-image-wrapper flex justify-center items-center w-[150px]">
                  <img [src]="cartItem.image" alt="cart item image" class="checkout-cart-item-image max-h-[100px]"/>
                </div>
                <div class="checkout-cart-item-details">
                  <p class="checkout-cart-item-name">{{cartItem.name}}</p>
                  <p class="checkout-cart-item-price font-bold">{{cartItem.price}} €</p>
                  <p class="checkout-cart-item-quantity">Qty: <span class="font-bold">{{cartItem.qty}}</span></p>
                </div>
              </div>
            </div>
            <div class="side-cart-summary w-full">
              <div class="side-cart-totals border-t border-b border-slate-300">
                <span class="side-cart-subtotal flex justify-between items-center py-1"><span class="text-lg">Subtotal:</span><span class="font-bold text-lg">{{cartTotal().toFixed(2)}} €</span></span>
                <span class="side-cart-vat-total flex justify-between items-center py-1"><span class="text-lg">VAT:</span><span class="font-bold text-lg">{{vatTotal().toFixed(2)}} €</span></span>
                <span class="side-cart-grand-total flex justify-between items-center py-1"><span class="text-lg">Grand Total:</span><span class="font-bold text-xl text-sky-700">{{grandTotal().toFixed(2)}} €</span></span>
              </div>
              <div class="side-cart-actions mt-4">
                <a 
                  class="side-cart-action-link flex justify-center items-center px-6 h-[60px] border rounded-md text-white text-lg font-bold bg-gradient-to-r from-blue-600 to-sky-500 hover:from-orange-500 hover:to-orange-400 active:from-orange-400 active:to-orange-300 cursor-pointer mt-2" 
                  [class.pointer-events-none]="!canSubmitOrder()"
                  [class.opacity-50]="!canSubmitOrder()"
                  (click)="placeOrder()"
                >Place Order</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>