<div class="order-success-container p-4 m-auto">
  <div class="order-success-header text-center">
      <h1 class="font-bold text-2xl flex justify-center items-center gap-2">
        <span class="text-red-700 flex justify-center items-center">
          <mat-icon aria-hidden="false" aria-label="Failure Icon" class="text-green-600">cancel_icon</mat-icon>
        </span>
        <span>Could not place order.</span>
      </h1>
  </div>
  <div class="order-success-body mt-6">
      <div class="order-success-message">
          <p class="text-center text-gray-500">There was an error placing your order. Please try again.</p>
          <p class="text-center mt-6 text-lg">Error details:</p>
          <dl class="grid grid-cols-2 gap-1 mt-2 max-w-[1200px] m-auto text-center">
              <dt class="p-4 flex justify-center items-center bg-white shadow-xs">Reason</dt>
              <dd class="p-4 text-red-700 flex justify-center items-center bg-white shadow-xs">{{ eventInfo.title }}</dd>
              <dt class="p-4 flex justify-center items-center bg-white shadow-xs">Explanation</dt>
              <dd class="p-4 text-red-700 flex justify-center items-center bg-white shadow-xs">{{ eventInfo.message }}</dd>
          </dl>
      </div>
      <div class="order-success-actions mt-6 text-center">
        <a [routerLink]="['/products']" class="bg-sky-600 text-white inline-block p-3 rounded-xl">Continue Shopping</a>
      </div>
  </div>  
</div>